.container{
    height: 700px;
    width: 900px;
    background-color: rgb(209, 152, 82);
    border: 2px solid;

    display: grid;
    grid-template-rows: 33% 33% 34%;
    grid-template-columns: 17% 17% 16% 16% 17% 17%;
}
.container div{
    border: 2px solid;
}
.box5{
    grid-column-start: 5;
    grid-column-end: 7;
}

.box6{
    grid-column-start: 1;
    grid-column-end: 3;
}

.box7{
    grid-column-start: 3;
    grid-column-end: 5;
}